<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>User Templates</title>
</head>

<body>
    <div class="container">
        <h1>All users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>
        <h1>Add a user</h1>
            <form class="row g-3" action='/create_user' method='post'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label"> First name: </label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label"> Last name: </label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label"> Email: </label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label"> age: </label>
                    <input type="number" name="age" id="age" class="form-control">
                </div>
                
                <button type='submit'>Create User</button>
            </form>




</body>

</html>